.input_field{
    position: relative;
    top: 20px;
    margin: 0 40px;
    height: 10.5vh; 
  }

  
  .button{
    display: flex;
    position: relative;
    top: 25px;
    color: white;
    margin: 0 40px;
    background-color: #A03037 ;
    border-radius:4px;
    cursor: pointer;
    opacity: 1;
  }

  .Or{
      position: relative;
      top: 8px;
  }

  .footer{
      display: flex;
      position: relative;
      top: 8px;
      justify-content: space-evenly;
  }


  @media screen and (max-width: 600px) {
      
      
  }
  