@import '../SCSS/variables.scss';

.cart-details{
    padding: 10em 8em;
    @media only screen and (max-width : 992px){
    justify-content: center;
    padding: 0em 0em;
    }
}

.cart-input{
    margin: 1em 0em 0em 0em !important;
}

.cart-radio{
    flex-direction: row !important;
    justify-content: space-between;
}

.cart-input-col{
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button{
        -webkit-appearance: none !important;
    }
}

legend.cart-input{
    display: flex;
}

.cart-form{
    display: flex;
    justify-content: space-between;
}

.cart-input-col{
    display: flex;
    justify-content: flex-start;
}

.cart-box{
    border: solid 1px $border-color;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 1em 2em;
    margin: 2em 0em;
    width: 109%;
    margin-left: 10%;
}

.empty-cart{
    font-size: 1.5em;
    align-self: center;
}

.place-order{
    align-self: flex-end;
}

.cartItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cartBookItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.cartBookImage {
    width: 20%;
    height: 70%;
}
