.signup_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup{
    display: flex;
    width: 370px;
    height: 337px;
    flex-direction: column;
}

.input_signup_field{
    position: relative;
    top: 10px;
    margin: 0 40px;
    height: 10.5vh; 
  }

  .button_signup{
    display: flex;
    position: relative;
    top: 5px;
    color: rgb(255,255,255);
    margin: 0 40px;
    background-color: #A03037 ;
    border-radius:4px;
    cursor: pointer;
    opacity: 1;
  }

  .MuiButton-root {
    color: white;
  }